@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div[class*=box] {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background-color: rgb(255, 255, 255);
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
}


.btn-one {
    color: #000000;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(146, 146, 146, 0.5);
    border-bottom-color: rgba(146, 146, 146, 0.5);
    transform: scale(0.3, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(206, 206, 206, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}